/*
 * Color themes
 */

/* Peaches & Grapes * /
html {
  --bg_top: #fff0e0;
  --bg_bot: #ffc8e8;
  --main_text: #403;
  --faded_text: #885080;
  --selected_text: #e0e0ff;
  --selected_bg: #003;
  --question_text: #c3a;
  --link_text: #a06;
  --link_hover: #d2a;
  --addendum_text: #e42;
  --addendum_link: #f84;
  --addendum_link_hover: #d62;
}
/* */

/* Grass in the Sun * /
html {
  --bg_top: #ffffe0;
  --bg_bot: #e0ffc0;
  --main_text: #382000;
  --faded_text: #986;
  --selected_text: #ffffe0;
  --selected_bg: #320;
  --question_text: #ca3;
  --link_text: #a60;
  --link_hover: #da2;
  --addendum_text: #e42;
  --addendum_link: #f84;
  --addendum_link_hover: #d62;
}
/* */

/* Seafoam */
html {
  --bg_top: #e0ffff;
  --bg_bot: #b8ffe8;
  --main_text: #003820;
  --faded_text: #698;
  --selected_text: #e0fff0;
  --selected_bg: #032;
  --question_text: #2b9;
  --link_text: #0a6;
  --link_hover: #2da;
  --addendum_text: #e42;
  --addendum_link: #f84;
  --addendum_link_hover: #d62;
}
/* */

