.reveal h1 {
  font-size: var(--section_size);
}

.reveal h2 {
  font-size: var(--title_size);
}

.reveal pre, .reveal code {
  font-size: 1.5ex;
}

.reveal sup {
  font-size: 1ex;
}

.reveal sub {
  font-size: 1ex;
}

.reveal .wide-table table {
  width: 100%;
}

.reveal .empty-table tbody th img, .reveal .empty-table tbody td img {
  margin: 0px;
}

.reveal .empty-table tbody th, .reveal .empty-table tbody td {
  border: 0px !important;
  padding: 0.4ex 1ex 0.4ex 1ex;
}

.reveal .addendum {
  color: var(--addendum_text);
}

.reveal .addendum a:link {
  color: var(--addendum_link) !important;
}

.reveal .addendum a:link:hover {
  color: var(--addendum_link_hover) !important;
}

.reveal .corrected {
  text-decoration: line-through;
}

.reveal .question {
  color: var(--question_text);
}

.reveal .faded {
  color: var(--faded_text);
}

.reveal .large {
  font-size: 160%;
}

.reveal .small {
  font-size: 80%;
}

.reveal .attribution {
  font-size: 0.6em;
}

.reveal .fullframe {
  width: 100%;
  height: 17em;
}

.reveal .fullframe figure {
  width: 100%;
  height: 100%;
}

.reveal .fullframe figure img {
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
  width: auto !important;
}

.reveal section div.img-no-border img {
  border: none;
  box-shadow: none;
  background: none;
}

.reveal .underline {
  text-decoration: underline;
}

@media print {
  /*
  .reveal section.level1 {
    display: none !important;
  }
  */

  body {
    background: #fff !important;
  }

  .slides section {
    font-size: 95%;
  }
}

.reveal .fraction {
  display: inline-block;
  position: relative;
  overflow: visible;
  top: -1.3ex;
  height: 2.7ex;
}

.reveal .fraction-top {
  display: inline-block;
  float: left;
  border-bottom: 1pt solid black;
  padding-bottom: 1pt;
}

.reveal .fraction-bottom {
  display: inline-block;
  clear: left;
  float: left;
}

.reveal .equation {
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
}

.reveal .columns {
  width: 95%;
  margin: auto;
  clear: both;
  text-align: center;
  display: table;
}

.reveal .columns .column {
  display: table-cell;
  vertical-align: top;
  max-width: 55%;
  padding: 1%;
}

.reveal div p:first-child {
  margin-top: 0px;
}

.reveal div p:last-child {
  margin-bottom: 0px;
}

.reveal ol li:first-child, .reveal ul li:first-child {
  margin-top: 0px;
}

.reveal ol li:last-child, .reveal ul li:last-child {
  margin-bottom: 0px;
}

.reveal li {
  margin: 22pt 0;
}

.reveal img.pixels {
  image-rendering: optimizeSpeed;            /* STOP SMOOTHING, GIVE ME SPEED */
  image-rendering: -moz-crisp-edges;         /* Firefox                       */
  image-rendering: -o-crisp-edges;           /* Opera                         */
  image-rendering: -webkit-optimize-contrast;/* Chrome (and eventually Safari)*/
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;        /* CSS3 Proposed                 */
  -ms-interpolation-mode: nearest-neighbor;  /* IE8+                          */
}

